# App
NEXT_URL= URL da aplicação;

# Stripe
NEXT_PUBLIC_BACKEND_URL= URL para uso de backend externo(opcional);
STRIPE_PUBLIC_KEY= Chave Pública da sua conta no stripe(stripe.com/);
STRIPE_SECRET_KEY= Chave Privada da sua conta no stripe(stripe.com/);