:root {
  html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ol,
  ul {
    list-style: none;
  }

  .swiper-button-next::after {
    color: black;
    position: absolute;
    left: -20px;
  }
  .swiper-button-prev::after {
    color: black;
    position: absolute;
  }
  .swiper-pagination-bullet {
    background: black;
  }
}
