:root {
  html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ol,
  ul {
    list-style: none;
  }

  .swiper-button-next::after {
    color: black;
    position: absolute;
    left: 10px;
  }
  .swiper-button-prev::after {
    color: black;
    position: absolute;
    left: -7px;
  }
  .swiper-pagination-bullet {
    background: black;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .swiper-wrapper {
    /* background: red; */
  }

  .swiper {
    padding: 32px;
  }
}
